.form {
  margin: 0;
}
.task__text {
	margin: 0;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.changetask-input {
  border: none;
  outline: none;
}